@font-face {
  font-family: logoFont;
  src: url(./assets/Satisfy-Regular.ttf);
}

.navbar-brand {
  font-family: logoFont;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  color: black;
}

#cart-img {
  width: 50px;
  height: 50px;
}

#cart-notification {
  cursor: pointer;
}

#banner-img {
  max-width: 1600px;
  max-height: 318px;
}

.card-image {
  width: 300px;
  height: 250px;
}
